body {
    margin: 0px;
    background-color: rgb(186, 232, 238);
}
html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgb(107, 201, 245);
    justify-content: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    display: flex;
    &--top {
        justify-content: space-evenly;
        width: 40%;
    }
    &--item {
        justify-content: center;
        align-items: center;
        margin: 0px 1px;
        height: 50px;
        width: 100%;
    }

    &--link {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-decoration: none;
        color: black;

        &.active {
            border-bottom: 3px solid red;
        }
    }
}

.section {
    height: 100vh;
    scroll-margin-top: 80px;
    &--one {
        background-color: rgb(50, 100, 150);

        margin-top: 80px;
    }
    &--three {
        background-color: pink;
    }
}

.projects {
    justify-content: center;
    display: flex;
    &--items {
        width: 50%;
        flex-wrap: wrap;
    }

    &--image {
        margin: 5px;
    }
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.contact-form {
    text-align: center;
}
.home-message {
    text-align: center;
}
