body {
    margin: 0px;
    background-color: rgb(186, 232, 238);
}
html {
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: rgb(107, 201, 245);
    @media only screen and (min-width: 800px) {
        justify-content: flex-end;

        width: 100%;
    }
    @media only screen and (max-width: 801px) {
        justify-content: center;
        width: 100vw;
    }
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    &--top {
        justify-content: space-evenly;
        width: 40%;
    }
    &--item {
        justify-content: center;
        align-items: center;
        margin: 0px 1px;
        height: 50px;
        width: 100%;
        @media only screen and (max-width: 800px) {
            margin: 10%;
        }
    }

    &--link {
        font-family: "Roboto Slab", serif;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        color: black;

        &.active {
            border-bottom: 3px solid rgb(255, 173, 21);
        }
    }
}
.home {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    &--heading {
        font-size: 70px;
        margin-bottom: 10px;
        font-family: "League Spartan", sans-serif;
    }

    &--message {
        font-size: 16x;
        font-family: "Libre Baskerville", serif;
    }
}

.section {
    display: flex;
    height: 100vh;
    scroll-margin-top: 80px;
    &--one {
        align-items: center;
        justify-content: center;
        background-color: rgb(55, 133, 211);

        margin-top: 80px;
    }

    &--two {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media only screen and (max-width: 800px) {
            height: 150vh;
        }
    }
    &--three {
        background-color: rgb(55, 133, 211);
        flex-direction: column;
        justify-content: center;
        @media only screen and (max-width: 800px) {
            height: 150vh;
        }
    }
    &--four {
        height: 150vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media only screen and (max-width: 800px) {
            height: 300vh;
        }
    }
}

.skills {
    justify-content: center;
    display: flex;
    &--items {
        width: 50%;
        flex-wrap: wrap;
    }
    &--subtext {
        height: 200px;
        width: 30%;
        font-family: "Libre Baskerville", serif;
        @media only screen and (max-width: 800px) {
            font-size: 14px;
        }
    }

    &--heading {
        margin-bottom: 70px;
    }
    &--logo {
        &:hover {
            background-color: rgb(64, 127, 136) !important;
        }
        height: 64px;
        width: 64px;
        @media only screen and (max-width: 800px) {
            height: 32px;
            width: 32px;
        }
    }
    &--gallery {
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30%;
    }
    &--container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        font-family: "Roboto Slab", serif;
        @media only screen and (max-width: 800px) {
            font-size: 20px;
        }
    }
    &--image {
        margin: 5px;
    }
}

.about-me {
    &--section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    &--about {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    &--contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
    }
    &--para {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: "Libre Baskerville", serif;
        &--text {
            text-align: center;
            width: 35%;
        }
    }
    &--logo {
        display: flex;
        align-items: center;
        width: 15%;
        @media only screen and (max-width: 800px) {
            flex-direction: column;
        }
        justify-content: space-around;
        &--container {
            display: flex;
            justify-content: space-evenly;
            width: 40%;
            @media only screen and (max-width: 800px) {
                width: 70%;
            }
        }
        &--image {
            width: 32px;
            height: 32px;
        }
    }
}

.project {
    &-gallery {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    &-image {
        display: flex;
        flex-direction: column;
        margin: 0px 20px;
        @media only screen and (max-height: 800px) {
            height: 100px;
            width: 200px;
        }
        &--googleBooks {
            height: 200px;
            width: 400px;
        }
        height: 200px;
        width: 400px;
    }
    &-row {
        display: grid;
        flex-direction: row;
        @media only screen and (max-width: 800px) {
            width: 100%;
        }
        width: 50%;
        margin: 20px;
        &--text {
            width: 100%;
            text-align: center;
        }
        &--right {
            justify-content: flex-end;
            grid-template-columns: 50% 50%;
        }
        &--left {
            justify-content: flex-start;
            grid-template-columns: 50% 50%;
        }
        &--image {
            justify-content: center;
        }
    }
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.contact-form {
    text-align: center;
}
.home-message {
    text-align: center;
}
